.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%), 
        0 0.9375rem 1.40625rem rgb(4 9 20 / 3%), 
        0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 
        0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
    border-width: 0;
    transition: all .2s;
    background-color: #fff;
    border: 1px solid rgba(26,54,126,0.125);
    border-radius: .25rem;
}

.card.fourth {
    flex-basis: 24%;
}

.card.long {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 1398px) {
    .card.fourth {
        flex-basis: 48.5%;
        margin-bottom: 1.5rem;
        min-height: 20rem;
    }
}

@media screen and (max-width: 992px) {
    .card.third {

    }
}

@media screen and (max-width: 767px) {
    .card.fourth {
        flex-basis: 100%;
        flex-direction: column;
    }
}
